<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>

<body>

	<header layout:insert="~{Cabecalho.html}"></header>

	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script type="js/boostrap.min.js"></script>


	<script type="text/javascript">
		$(document).ready(function() {
			$("#close").click(function() {
				$('#close').fadeTo(200, 0).slideUp(200)
			})
		})
	</script>
</body>
</html>