<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Cobrança</title>
<link rel="stylesheet"
	href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

	<header layout:insert="~{Cabecalho.html}"></header>

	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>



	<script
		src="/js/jquery.min.js"></script>
	<script
		src="/js/popper.min.js"></script>
	<script
		src="/js/bootstrap.min.js"></script>
		<script
		src="/js/cobranca.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#close").click(function() {
				$('#close').fadeTo(200, 0).slideUp(200)
			})
		})
	</script>
</body>
</html>